* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.imagem-loading {
    text-align: center;
}
/*NAV-BAR*/

.nav-bar {
    background-color: #424242;
    height: 100%;
    width: 130px;
    padding: 10px;
    position: fixed;
}

#logo {
    display: block;
    width: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #FAFAFA;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

a.botao-menu {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 0.95em;
    border-radius: 3px;
}

.botao {
    display: block;
    width: 110px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    color: #424242;
    border: none;
    border-radius: 5px;
}

.botao:hover {
    border-radius: 50%;
    transition: 0.5s;
}

button:focus {
    outline: 0;
}

/*MAIN-CONTENT*/

#main-content {
    color: #424242;
    height: 100%;
    margin-left: 140px;
    padding: 5px 10px 10px 0;
}

#header-encomendas {
    background-color: #DCDCDC;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
    height: 50px;
}

.checkbox {
    background-color: #FAFAFA;
    width: 25px;
    height: 20px;
    margin: 1px 0 20px;
}

.radiobutton {
    float: left;
    width: 21px;
    height: 21px;
    padding: 2px 0;
    margin: 5px 0;

}

#checkbox-selecionar-todas-encomendas {
    float: left;
    margin: 5px 0;
}

.label-header-encomendas {
    float: left;
    width: 20%;
    margin: 5px 10px 5px 5px;

}

#label-selecionar-todas-encomendas {
    width: 21%;
}

#label-ordenar-cliente {
    width: 16%;
}

.encomenda {
    background-color: #424242;
    color: #FAFAFA;
    padding: 10px;
    margin-top: 5px;
}

.informacao-destaque-encomenda {
    margin: 0;
    padding: 0;
}

.checkbox-encomenda {
    float: left;
    margin: 5px 0;
}

.nome-cliente {
    float: left;
    font-size: 1.1em;
    border-left: 2px solid #FAFAFA;
    border-bottom: 2px solid #FAFAFA;
    padding-left: 5px;
    width: 36%;
}

.num-encomenda-interna, .num-encomenda-alt, .data-entrega{
    float: right;
    font-size: 0.7em;
    border-top: 2px solid #FAFAFA;
    border-bottom: 2px solid #FAFAFA;
    padding: 4px 0;
    width: 16%;
    margin-left: 15px;
    text-align: center;
}

.informacao-adicional-encomenda {
    clear: both;
    padding-top: 10px;
}

.botao-encomenda {
    float: left;
    font-size: 0.8em;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 2px 2px 10px;
}

.data-inserido, .num-artigos{
    float: left;
    font-size: 0.7em;
    margin-top: 4px;
    text-align: center;
    width: 22%;
}

.data-inserido{
    margin-left: 5px;
}

.data-inserido > span {
    margin-left: 5px;
}

.botao-notas {
    float: right;
    height: 20px;
    font-size: 0.55em;
}

.botao-abrir-pdf {
    float: right;
    height: 20px;
    font-size: 0.55em;
}

.botao-notas, .botao-abrir-pdf, .percentagem-completa {
    float: right;
    text-align: center;
    margin-top: 4px;
    margin-left: 15px;
    width: 16%;
}

.percentagem-completa {
    font-size: 0.8em;
    margin-top: 2px;
}

.valor-campo-encomenda {
    margin-left: 5px;
}

.valor-campo-encomenda:hover{
    /*background-color: #FAFAFA;*/
    /*color: #424242;*/
    font-weight: bold;
    cursor: pointer;
}

.container-artigos {
    clear: both;
    background-color: #FAFAFA;
    padding: 0;
    margin: 15px -2px 0;
    /*border: 2px solid #424242;*/
}

.header-artigo {
    /*overflow: auto;*/
    height: 45px;
    color: #424242;
    background-color: #DCDCDC;
    font-size: 0.65em;
    font-weight: bold;
    /*margin-bottom: 10px;*/
    padding: 10px 0 10px 4px;
}

.artigo{

    height: 45px;
    color: #424242;
    border-top: 1px solid #424242;
    border-radius: 2px;
    font-size: 0.6em;
    padding: 10px 0 10px 4px;
}

.artigo:hover {
    color: #FAFAFA;
    background-color: cornflowerblue;
}

.informacao-artigo, .label-header-artigo{
    margin-top: 4px;
    text-align: center;
}

.checkbox-artigo, .checkbox-header-artigo {
    float: left;
    margin-top: 2px;
}

.informacao-artigo.armazem, .header-artigo-armazem {
    float: left;
    width: 3%;
}

.informacao-artigo.codigo, .header-artigo-codigo {
    float: left;
    width: 10%;
}

.informacao-artigo.nome, .header-artigo-nome {
    float: left;
    width: 35%;
}

.informacao-artigo.quantidade-encomenda, .header-artigo-quantidade-encomenda {
    float: right;
    width: 6%;
}

.informacao-artigo.quantidade-a-expedir, .header-artigo-quantidade-a-expedir {
    float: right;
    width: 6%;
}

.informacao-artigo.quantidade-stock, .header-artigo-quantidade-stock {
    float: right;
    width: 6%;
}

.informacao-artigo.unidade-quantidade, .header-artigo-unidade-quantidade {
    float: right;
    width: 5%;
}

.informacao-artigo.material, .header-artigo-material {
    float: right;
    width: 12%;
    overflow: auto;
}

.informacao-artigo.botao.botao-ficha-tecnica-artigo{
    float: right;
    margin-top: 3px;
    color: #FAFAFA;
    background-color: #424242;
    height: 20px;
    width: 10%;
}

.header-artigo-botao-ficha-tecnica-artigo {
    float: right;
    width: 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.conteudo-modal {
    text-align: center;
    background-color: #424242 ;
    color: #FAFAFA;
    border: 2px solid #FAFAFA;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    margin: 5% auto;
}

.text-box {
    width: 90%;
    text-align: center;
    background-color: #FAFAFA;
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 4px;
}

#botao-aceitar-modal-editar, #botao-cancelar-modal-editar {
    display: inline-block;
    height: 30px;
    margin: 0 10px;
}

/* Extra Large Devices */
@media (min-width: 1500px) {

}

/* Large Devices */
@media (min-width: 1300px) and (max-width: 1499px){

}


