{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logística Prilux - Nova Expedição</title>
    <link rel="icon" href="{% static 'order_organizer/prilux.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'order_organizer/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content-create-shipping">
        <form method="POST" name="shipping-info">
            {% csrf_token %}
            <h3>Nova Expedição</h3>
            <hr class="create-new-order">
            <h4>Informação Geral Expedição</h4>

            <div class="form-line-create-new-model" id="form-line-client">
                <span>Cliente*:</span>
                <span id="input-area-client">{{ form.client }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-doc-type">
                <span>Tipo de Documento*:</span>
                <span id="input-area-doc-type">{{ form.doc_type }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-order-num-doc">
                <span>Nº Documento*:</span>
                <span id="input-area-order-num-doc">{{ form.num_doc }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-associated-doc-type">
                <span>Encomenda Associada:</span>
                <span id="input-associated-doc-type">{{ form.associated_doc_type }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-order-num-associated-doc">
                <span>Nº Encomenda Associada:</span>
                <span id="input-area-order-num-associated-doc">{{ form.order_num_associated_doc }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-vehicle-info">
                <span>Informação Veículo:</span>
                <span id="input-area-vehicle-info">{{ form.vehicle_info }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-notes">
                <span>Notas:</span>
                <span id="input-area-order-notes">{{ form.notes }}</span>
            </div>


            <hr class="create-new-order">
            <h4 id="h3-artigos">Artigos</h4>

            <div class="header-artigo header-artigo-nova-encomenda">
                <div class="label-header-artigo header-artigo-armazem">Arm.</div>
                <div class="label-header-artigo header-artigo-codigo">Código</div>
                <div class="label-header-artigo header-artigo-nome">Nome</div>

                <div class="label-header-artigo header-artigo-unidade-quantidade">Unid.</div>
                <div class="label-header-artigo header-artigo-quantidade-encomenda">Qtd.</div>
            </div>

            <div id="container-artigos-nova-encomenda">
                <div class="artigo artigo-nova-encomenda">
                    <a class="botao botao-apagar-artigo">x</a>
                    <input class="informacao-artigo armazem" type="text" value="4">
                    <input class="informacao-artigo codigo" type="text" value="">
                    <input class="informacao-artigo nome" type="text" value="">

                    <div></div>
                    <div class="informacao-artigo unidade-quantidade select2-dropdown">
                        <a class="dropbtn dropbtn-unit" >Unid.</a>
                        <div class="dropdown-content dropdown-unit">
                            <a>UN.</a>
                            <a>MT.</a>
                            <a>KG.</a>
                        </div>
                    </div>
                    <input class="informacao-artigo quantidade-encomenda" type="text" value="">
                </div>
            </div>

            <a class="botao" id="botao-adicionar-artigo">Adicionar artigo</a>
        </form>

        <hr class="create-new-order">
        <button class="botao" id="botao-criar-nova-encomenda" type="submit">Criar Nova Expedição</button>
        <a class="botao" id="botao-regressar-pagina-encomendas" href="{% url 'shippings_page' %}">Voltar à Página Expedições</a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'order_organizer/ajax-utils.js' %}"></script>
    <script src="{% static 'order_organizer/create_shipping_script.js' %}"></script>
</body>