{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logística Prilux - Página Expedição</title>
    <link rel="icon" href="{% static 'order_organizer/prilux.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'order_organizer/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div id="content-create-shipping">
        <form method="POST" name="shipping-info" id="shipping-info">
            {% csrf_token %}
            <h3>Página Expedição</h3>
            <hr class="create-new-order">
            <h4>Informação Geral Expedição</h4>

            <div class="form-line-create-new-model" id="form-line-client">
                <span>Cliente*:</span>
                <span id="input-area-client">{{ form.client }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-doc-type">
                <span>Tipo de Documento*:</span>
                <span id="input-area-doc-type">{{ form.doc_type }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-order-num-doc">
                <span>Nº Documento*:</span>
                <span id="input-area-order-num-doc">{{ form.num_doc }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-associated-doc-type">
                <span>Tipo de Documento Associado*:</span>
                <span id="input-associated-doc-type">{{ form.associated_doc_type }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-order-num-associated-doc">
                <span>Nº Documento Associado*:</span>
                <span id="input-area-order-num-associated-doc">{{ form.order_num_associated_doc }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-vehicle-info">
                <span>Veículo:</span>
                <span id="input-area-vehicle-info">{{ form.vehicle_info }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-total-weight">
                <span>Peso Total (kg):</span>
                <span id="input-area-total-weight">{{ form.total_weight }}</span>
            </div>
            <div class="form-line-create-new-model" id="form-line-notes">
                <span>Notas:</span>
                <span id="input-area-order-notes">{{ form.notes }}</span>
            </div>


            <hr class="create-new-order">
            <h4 id="h3-artigos">Artigos</h4>

            <div class="header-artigo header-artigo-nova-encomenda">
                <div class="label-header-artigo header-artigo-armazem">Arm.</div>
                <div class="label-header-artigo header-artigo-codigo">Código</div>
                <div class="label-header-artigo header-artigo-nome">Nome</div>

                <div class="label-header-artigo header-artigo-unidade-quantidade">Unid.</div>
                <div class="label-header-artigo header-artigo-quantidade-a-expedir">Qtd. exp.</div>
            </div>

            <div id="container-artigos-nova-encomenda">

                {% for part in shipping.parts_list %}

                    <div class="artigo artigo-nova-encomenda">
                        <a class="botao botao-apagar-artigo">x</a>
                        <input class="informacao-artigo armazem" type="text" value="{{ part.0 }}">
                        <input class="informacao-artigo codigo" type="text" value="{{ part.1 }}">
                        <input class="informacao-artigo nome" type="text" value="{{ part.2 }}">

                        <div></div>
                        <div class="informacao-artigo unidade-quantidade select2-dropdown">
                            <a class="dropbtn dropbtn-unit" >{{ part.4 }}</a>
                            <div class="dropdown-content dropdown-unit">
                                <a>UN.</a>
                                <a>MT.</a>
                                <a>KG.</a>
                            </div>
                        </div>
                        <input class="informacao-artigo quantidade-a-expedir" type="text" value="{{ part.3 }}">
                    </div>

                {% endfor %}
            </div>

            <a class="botao" id="botao-adicionar-artigo">Adicionar artigo</a>
        </form>

        <hr class="create-new-order">
            <button class="botao" id="botao-atualizar-encomenda" type="submit">Guardar Expedição</button>
            <a class="botao" id="botao-regressar-pagina-encomendas" href="{% url 'shippings_page' %}">Voltar à Página Expedições</a>
    </div>

    <div id="modal-criar-expedicao" class="modal">
        <h2>Gerar Guia Remessa</h2>
        <hr>
        <div id="header-criar-expedicao">
            <span class="info-header-criar-expedicao">Tipo Documento:  <input type="text" id="info-tipo-documento-criar-expedicao"></span>
            <span class="info-header-criar-expedicao">Nº Documento:  <input type="text" id="info-num-documento-criar-expedicao"></span>
            <span class="info-header-criar-expedicao">Informação Veículo:  <input type="text" id="info-veiculo-criar-expedicao"></span>
        </div>
        <hr>
        <div id="container-artigos-modal-criar-expedicao">
            <div class="header-artigo" id="header-artigo-criar-expedicao">
                <button type="checkbox" id="checkbox-selecionar-todos-artigos" name="not-selected"></button>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-armazem">Arm.</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-codigo">Código.</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-nome">Nome</span>

                <span class="label-header-artigo" id="header-artigo-criar-expedicao-peso">Peso qtd pronta</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-unid">Unid.</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-qtd-stock">Qtd. stock</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-qtd-a-expedir">Qtd. pronta</span>
                <span class="label-header-artigo" id="header-artigo-criar-expedicao-qtd-pend">Qtd. pend</span>
            </div>
            <div id="artigos"></div>
        </div>
        <div>
            <button class="botao" id="botao-guardar-e-sair">Guardar e Sair</button>
            <button class="botao" id="botao-voltar">Fechar</button>
            <button class="botao" id="botao-recalcular-pesos">Recalcular Pesos</button>
            <span id="info-peso-total">
                 <span class="info-header-criar-expedicao">Peso Total: </span>
                <span id="peso-total" class="info-header-criar-expedicao">N/A</span>
            </span>
        </div>
        <div id="status-loading"><img src="{% static 'order_organizer/ajax-loader.gif' %}"></div>
    </div>

    <div id="modal-aviso-apagar-artigos" class="modal">
        <div id="conteudo-modal-aviso-apagar-artigos" class="conteudo-modal">
            <h3>Alguns artigos foram apagados e serão perdidos permenentemente, ao guardar!</h3>
            <div class="conteudo-botoes">
                <button id="botao-cancelar-aviso-apagar-artigo" class="botao botao-fechar-modal" >Cancelar</button>
                <button id="botao-confirmar-aviso-apagar-artigo" class="botao">Continuar</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'order_organizer/ajax-utils.js' %}"></script>
    <script src="{% static 'order_organizer/update_shipping_script.js' %}"></script>
</body>

